html {
	box-sizing: border-box;
}

body {
	background: #222325; /* Fallback for when there is no custom background color defined. */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

