/*--------------------------------------------------------------
# Based on Cruip framework - v1.0.0
/*--------------------------------------------------------------
# common styles
--------------------------------------------------------------*/
@import "views/main.scss";

/*--------------------------------------------------------------
# Homepage styles
--------------------------------------------------------------*/
@import "views/homepage";

/*--------------------------------------------------------------
# xprt page styles
--------------------------------------------------------------*/
@import "views/xprt";


/*--------------------------------------------------------------
# xprt page mediaqueries styles
--------------------------------------------------------------*/
@import "mediaqueries/xprt";








/*--------------------------------------------------------------
# main media query styles
--------------------------------------------------------------*/
@import "mediaqueries/main";
/*--------------------------------------------------------------
# home page media query styles
--------------------------------------------------------------*/
@import "mediaqueries/hompage";










