@media (max-width: 1200px) {
  .featured-on .logos{
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .banner-section{
    .content-box{
      position: relative;
      padding: 0;
      bottom: auto;
    }
    .row .col-md-6.content {
      bottom: -0px;
    }
  }
}
@media (max-width: 767.8px){
  .banner-section {
    height: auto;
    padding: 200px 0 100px 0;
    .banner-heading{
      font-size: 30px;
    }
    .banner-buttons button{
      margin-bottom: 10px;
    }
    .row .col-md-6.content {
      position: relative;
      width: auto;

      .content-box {
        position: relative;
      }
    }
    .mouse-section{
      display: none;
    }
  }
  .stay-updated {
    .blog-section{
     padding-bottom: 10px;
    }
    .blog-articles.right{
    padding: 10px 0 0 0;
    }

  }
  .aim-section{
    .img-section{
      display: none;
    }
  }
  .featured-on .logos{
    justify-content: space-evenly;
  }

  .col-md-5 {
    padding-right: 20px !important;
  }
  .stay-updated .blog-articles.left{
    padding-left: 0px;
  }
  .blog-articles.right {
    padding-left: 15px;
  }
  .focus-section .image-container img {
    max-width: 300px;
    margin: 0px 20px;
  }
}
@media (max-width: 575.8px){
  .aim-section .services-list{
    padding: 20px 30px;
   .media-body p{
     padding: 0;
   }
  }
  .section-title{
    font-size: 26px;
  }
  .product-section .col-md-3 {
    .content, .content.plend-content, .content.mantle-content{
      min-height: 60vw;
    }
    .overlay-button{
      transform: translate(-50%, 90%);
    }
  }
  .aim-section .services-list .serviceBody .icon-section{
    padding-right: 15px;
  }
}

@media (max-width: 992px){
  .xprt-banner-section .content .right{
    margin-top: 30px;
  }
  .xprt-banner-section .content .left .buttons{
    margin-top: 1.5rem;
    margin-bottom: 10px;
  }
  .aim-section{
      padding: 70px 0;
    .img-section {
      display: none;
    }
  }
  .product-section{
    padding: 70px 0;
  }
  .our-backers{
    padding: 70px 0;
  }
  .stay-updated{
    padding: 50px 0;
  }
  .featured-on{
    padding: 70px 0;
  }
  .home-ecosystem-section .boxes{
    .box{
      justify-content: center !important;
      .box-body{
        margin: 0 !important;
      }
    }
  }
  .network-section .tools-container .links{
    justify-content: space-evenly;
  }
  .network-section .boxes .box-qoutes .qoutes{
    flex-direction: column;
    align-items: center;
    .qoute{
      &:nth-child(2){
        margin: 20px 0;
      }
    }
  }
}
//@media (min-width: 1200px) and (max-width: 1399.8px){
//  .banner-section {
//    height: 100%;
//  }
//}
@media (min-width: 992px) and (max-width: 1199.8px){
  .aim-section .img-section {
    .circle{
      right: 100px;
    }
    .square{
      right: 100px;
    }
  }
}
@media (min-width: 992px) and (max-width: 1399.8px) {
  .home-ecosystem-section .card-tiles .card-group .card .card-section .card-body{
    padding: 40px 15px 30px 15px;
  }
  .home-ecosystem-section.xprtecosystem .card-tiles .card-group .card .card-section .card-body p{
    line-height: 2.3;
    font-size: 12px;
  }
  .footer .btn-subscribe{
    opacity: 1 !important;
    width: auto;
    text-transform: uppercase;
    background: #E50913 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08) !important;
    border-radius: 6px !important;
    border: 0px solid !important;
    font-weight: bold !important;
    font-size: 12px !important;
    line-height: 1.8 !important;
    text-align: center !important;
    color: #ffffff !important;
    padding: 8px 14px !important;
  }
  .footer .social-links-section a{
    margin-bottom: 10px;
  }
  .banner-section {
    padding: 200px 0 150px 0;
    .banner-heading {
      span{
        font-size: 62px;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1399.8px) {

  .button-section .button-initial.button{
    font-size: 11px;
  }
  .banner-section {
    height: 100%;

    .mouse-section{
      bottom: -150px;
    }
    .banner-heading {
      font-size: 34px;
    }
  }
}
@media (min-width: 768px) and (max-width: 991px) {

  .footer .contact-us .mail-chimp-section input {
    width: 120px!important;
    max-width: 500px;
  }
  .footer .btn-subscribe{
    padding: 10px 18px !important;
    font-size: 10px !important;
  }
  .banner-heading {
    font-size: 28px!important;
  }
}
@media (min-width: 768px) {
  .blog-image .card-img-top {
    height: 200px;
  }
}
@media (max-width: 991px){
  .network-section .tech-box{
    flex-direction: column;
  }
  .blog-image .card-img-top {
    height: 200px;
  }
  .home-ecosystem-section .card-tiles .card-group{
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-direction: column;
  }
  .banner-section .banner-heading span,.home-ecosystem-section h3{
    font-size: 32px;
  }
  .banner-section .stats-container{

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
.stats-section{
  margin: 10px 0;
}
    .home-ecosystem-section{
      padding: 70px 0;
    }
  }
  .home-ecosystem-section .card-tiles{
    display: block;
  }
  .banner-section .stats-container .stats-section h6{
    font-size: 14px;
  }
  .banner-section .stats-container .stats-section h2{
    font-size: 32px;
  }
  .home-ecosystem-section .card-tiles .card-group .card .card-section .card-body{
    padding: 40px 20px 30px 20px;
  }
  .button-section .button-initial.button{
    font-size: 12px;
  padding:8px 10px;
    margin-left: 5px!important;
  }
  .home-ecosystem-section.xprtecosystem .card-tiles .card-group .card .card-section{
    margin-bottom: 10px;
  }
  .network-section .tech-box .allassets img{
    width:100%;
  }
  .home-ecosystem-section .sub-heading{
    margin: auto auto 40px auto;
  }
  .home-ecosystem-section .sortbuttons{
    margin-bottom: 10px;
  }
  .home-ecosystem-section .card-tiles .card-group .h-100.card{
    height: auto!important;
    margin-bottom: 15px;
    margin: 10px 15px;
  }
  .joinus .jointext{
    .text-head{
      h2{
        margin-bottom: 20px;
      }
    }
    flex-direction: column;
    text-align: center;
  }
  .footer .footer-logo-section{
    padding-top: 20px;
    display: block;
    padding-bottom: 20px;
    align-items: self-end;
    flex-direction: column;
    text-align: center;
  }
  .footer .copy-rights{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.314;
    color: #70747c;
    display: block;
    text-align: center;
  }

  .footer .footer-bottom-section{
    flex-direction: column;
  }
  .footer .contact-us .mail-chimp-section{
    display: block;
    align-items: center;
    margin: 10px 0 20px 0;
  }
  .footer .contact-us .mail-chimp-section input{
    width: 150px;
    max-width: 500px;
  }
  .banner-section .text span{
    display:inline;
  }
  .contact-us{
    width:100%;
  }
  .joinus .jointext a{
    margin-top: 20px;
  }
  .home-ecosystem-section .card-tiles .card-group .card .card-section .card-body .comingsoon{
    text-align: center;
    position: static;
    left: 50%;
    margin-left: 0;
    bottom: auto;
  }
  .network-section{
    padding: 0;
  }
  .network-section .tech-box .content-container h2{
    font-size: 32px;
    text-align: center;
    width: auto;
    line-height: 1.3;
  }
  .network-section .tech-box{
    display: flex;
    flex-direction: column;
  }

}

@media (min-width: 1400px) {

}
