@media (max-width: 991.8px) {
  .navbar.navbar-custom .navbar-nav {
    a, .nav-link {
      text-align: left;
      height: auto;
      margin:0 0;
      padding: 0 0!important;
    }

    .nav-item.dropdown {
      padding: 10px 0;
    }
    .nav-item {
      border-bottom: 0px solid #e0e6e8;

      &:last-child {
        border: 0px solid;
      }
    }

    .dropdown-menu {
      position: static;
      padding: 0;

      .nav-dropdown-items {
        padding: 20px;
        flex-direction: column;

        .nav-dropdown-item {
          .header {
            text-align: left;
            padding: 10px 0;
          }
        }
      }
    }
  }
  .nav-dropdown-item{
    .inner-items {
      margin: 15px 0px;
    }
  }
  .navbar-collapse {
    padding-top: 15px;
  }
  .site-content {
    //margin-top: 65px;
    .banner-section {
      height: auto;
      padding: 85px 0;
    }
  }
  .product-info-section .cards {
    margin-left: 0;
  }
  .section-roadmap {
    padding: 130px 0 100px 0;
  }
  //.navbar.navbar-custom .navbar-nav .dropdown .dropdown-menu {
  //  max-height: 400px
  //}
  .navbar.navbar-custom .navbar-brand img {
    width: 120px;
  }
}
@media (max-width: 991.98px) {
  .opportunities-section {
    padding: 0px 0 100px 0;
    background: #000000;
  }
  .opportunities-section .staking-boxes .boxes .box .apr{
    font-size: 42px;
    line-height: 1.5;
  }
  .stay-updated.xprt .title{
    font-size: 32px;
    line-height: 1.5;

  }
  .opportunities-section .title{
    font-size: 32px;
    line-height: 1.5;
  }
  .home-ecosystem-section{
    padding: 85px 0;
  }
  .xprt-banner-section {
    background-image: none;
    padding: 85px 0;
  }
  .home-ecosystem-section h3.section-title{
    margin-top: 0px;
  }
  .navbar.navbar-custom .navbar-nav .dropdown-menu .nav-dropdown-items .nav-dropdown-item .inner-items .inner-item.ml-3{
    margin: 0!important;
  }
  .navbar.navbar-custom .navbar-nav .dropdown-menu .nav-dropdown-items .nav-dropdown-item .inner-items.firstone{
    padding: 15px 15px 5px 0px;
  }
  .navbar.navbar-custom .navbar-nav .dropdown-menu .nav-dropdown-items .nav-dropdown-item.buttoneco a{
    padding: 10px 45px!important;
  }
  .navbar-toggler
  {
    padding: 0;
  }

  .m-none{
    display: none!important;
  }
  .navbar.navbar-custom {
    padding: 0 0;
    background: #070B09;
  }
  .xprt-banner-section .aquire-content .logos {
    display: block;
    align-content: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    a img{
      text-align: center;
      margin: 10px;
    }
  }
  .gradient{
    display: none;
  }
  .fixed-top{
    position: static;
  }
}
@media (max-width: 767.8px) {

  .home-ecosystem-section h3.section-title{
    margin-top: 0px;
  }
  .home-ecosystem-section .sortbuttons button{
    font-size: 10px;
  }

  .banner-section .button-initial.button{
    margin: 5px;
  }
  .xprt-banner-section .aquire-content .title{
    font-weight: 700;
    font-size: 32px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
  }
  .opportunities-section{
    padding: 0;
  }
  .xprt-banner-section .aquire-content .logos {
    display: block;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    a{
      text-align: center;
      margin: 10px 0px;
      img{
        margin:10px;
      }
    }
  }
  .content-container{
    h2{
      color: #fff;
      width: 60%;
      margin: auto;
      font-weight: 700;
      font-size: 48px;
      text-align: center;
    }
  }
  .footer {
    text-align: center;
    .col-lg-4{
      margin-bottom: 10px;
      .mt-30{
        margin-top: 10px;
      }
    }

    .mail-chimp-section {
      display: flex;
    }

    .btn-subscribe {
      padding: 8px 10px !important;
    }
  }
  .navbar.navbar-custom {
    padding: 0 0;
    background: #070B09;

    .navbar-brand img {
      width: 170px;
    }
    .ecosystem-dropdown {
      width: auto;
      max-width: 600px;
      .dropdown-content{
    flex-wrap: wrap;
        .items{
          border: 0px solid;
        }
    }}
  }
  .navbar .container.p-0 {
    padding: 15px 15px !important;
  }
  .info-modal.modal .modal-dialog .modal-content .modal-data{
    flex-wrap: wrap;
    .profile-image{
      flex: 1;
      text-align: center;
    }
  }
  .product-section .col-md-3 {
    .content-upcoming.mantle-content, .content-upcoming.plend-content {
      min-height: 60vw;
    }
  }

}

@media (max-width: 575.8px) {
  .section-title {
    font-size: 26px;
  }
  .validators-section .validators .become-validator {
    padding: 60px 0px 0px 0px;
  }
  .navbar.navbar-custom .navbar-nav .dropdown-menu .nav-dropdown-items .nav-dropdown-item .inner-items .links a{
    margin: 0px;
  }
}
@media (min-width: 768px) and (max-width: 991.8px) {
.footer .contact-us{
justify-content: flex-start;
}
  .home-ecosystem-section .card-tiles .card-group{

    flex-flow: column wrap;
  }
  .home-ecosystem-section .card-tiles .card-group .card .card-section .card-body .comingsoon{
    position: relative;
    left: 0;
    margin-left: 0;
    bottom: 30px;
    text-align: center;
  }
}
@media (max-width: 375px) { 
  .button-primary, .button-secondary, .product-info-section.product-pstake .button.coming-soon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .product-info-section .cards .button-list .button-primary {
    margin-right: 0;
  }
}