@media (max-width: 991.8px) {
  .navbar.navbar-custom .navbar-nav {
    li {
    margin: 0;
    a {
      text-align: left;
      padding:15px 0;
    }
  }
  }
  .navbar-collapse{
    padding-top: 15px;
  }
}

@media (max-width: 767.8px) {
  .footer {
    text-align: center;

    .mail-chimp-section {
      display: flex;
    }

    .btn-subscribe {
      padding: 8px 10px !important;
    }
  }
  .navbar.navbar-custom {
    padding: 20px 0;

    .navbar-brand img {
      width: 170px;
    }
    .ecosystem-dropdown {
      width: auto;
      max-width: 600px;
      .dropdown-content{
    flex-wrap: wrap;
        .items{
          border: 0px solid;
        }
    }}
  }
  .navbar .container {
    padding: 0 15px !important;
  }
}

@media (max-width: 575.8px) {
  .section-title {
    font-size: 26px;
  }

}

