@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body, html {
  background: #F1FCFA;
  font-family: "Poppins", sans-serif !important;
}

/* over riding story page slider dots*/

.history-slider .slick-dots {
  bottom: -35px;
}

.history-slider .slick-slide{
  padding: 12px;
}

.history-slider .slick-dots li button:before {
  color: #000000;
  background: #000000;
  opacity: 1;
  border-radius: 100%;
}


.history-slider .slick-dots li.slick-active button:before {
  color: #c73238;
  background: #c73238;
  opacity: 1;
}

.xprt-defi-cards .slick-prev, .xprt-defi-cards .slick-next{
  /*background: #423f40d9;*/
    border-radius: 50%;
}

.xprt-defi-cards .slick-prev{
  bottom: -50px;
  top: auto;
  left: 20px;
}

.xprt-defi-cards .slick-next{
  bottom: -50px;
  right: auto;
  left: 50px;
  top: auto;
}

.xprt-defi-cards .slick-prev:before, .xprt-defi-cards .slick-next:before{
  color:#423f40d9;
  font-size: 22px;
}

.upgrade-slider-arrow .icon {
stroke: #ececec;
  fill: transparent;
}

.blog-slider-arrow .icon {
  stroke: #000000;
}
/* navigation bar icon styling */
/*.navbar-container.nav-bar {*/
/*  background: #f5f5f5;*/
/*}*/

.icon-nav-icon {
  width: 20px;
  height: 20px;
}

.icon-nav-icon.fill {
  fill: #c73238;
}

.icon-nav-icon.stroke {
  stroke: #c73238;
  fill: transparent;
}

.nav-item .icon-box {
  background: #c732381a;
}

.nav-item:hover .icon-box {
  background: #c73238;
}

.nav-item:hover .icon-nav-icon.fill {
  fill: #fffefe;
}

.nav-item:hover .icon-nav-icon.stroke {
  stroke: #fffefe;
  fill: transparent;
}

.nav-item.coming-soon {
  pointer-events: none;
}

.nav-item.coming-soon .icon-box {
  background: #f5f5f5;
}

.nav-item.coming-soon .icon-nav-icon.stroke {
  stroke: #878787;
  fill: transparent;
}

.nav-item.coming-soon .icon-nav-icon.fill {
  fill: #878787;
}
/* navigation bar icon styling end */

.icon-footer-icon {
  fill: #252424;
  width: 14px;
  height: auto;
}

.terms-sections  .subHeading{
  margin-bottom: 16px;
  font-size: 18px;
    color: #423F40;
}
.terms-sections .contentClass{
  margin-bottom: 16px;
}

.ml-auto{
  margin-left: auto;
}

/* swiper slide custom styles */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* swiper slide custom styles end */