@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background: #000000;
  font-family: "Poppins", sans-serif !important;
}

.hero-content{
    background-image: url("/images/hero-bg.svg");
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: 45% 77%;
}