@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body, html {
  background: #FCF7F1;
  font-family: "Poppins", sans-serif !important;
}

/* over riding story page slider dots*/

.history-slider .slick-dots {
  bottom: -35px;
}

.history-slider .slick-slide{
  padding: 12px;
}

.history-slider .slick-dots li button:before {
  color: #000000;
  background: #000000;
  opacity: 1;
  border-radius: 100%;
}


.history-slider .slick-dots li.slick-active button:before {
  color: #c73238;
  background: #c73238;
  opacity: 1;
}

.xprt-defi-cards .slick-prev, .xprt-defi-cards .slick-next{
  /*background: #423f40d9;*/
    border-radius: 50%;
}

.xprt-defi-cards .slick-prev{
  bottom: -50px;
  top: auto;
  left: 20px;
}

.xprt-defi-cards .slick-next{
  bottom: -50px;
  right: auto;
  left: 50px;
  top: auto;
}

.xprt-defi-cards .slick-prev:before, .xprt-defi-cards .slick-next:before{
  color:#423f40d9;
  font-size: 22px;
}

.upgrade-slider-arrow .icon {
stroke: #ececec;
  fill: transparent;
}

.blog-slider-arrow .icon {
  stroke: #000000;
}

.navbar-container.home{
  background: #FCF7F1;
}

  /* navigation bar icon styling */
.navbar-container.nav-bar {
  background: #FCF7F1;
}

.navbar-container .logo-box{
  background-repeat: no-repeat;
}

.navbar-container .logo-box.logo-light {
  background-image: url('/images/persistence-logo.svg');
}

.navbar-container.nav-bar .logo-box.logo-light {
  background-image: url('/images/persistence-logo-dark.svg');
}


.navbar-container .logo-box.logo-dark{
  background-image: url('/images/persistence-logo-dark.svg');
}

.navbar-container.nav-bar .nav-item-title{
color: #000000;
}
.navbar-container.nav-bar .navbar-box{
  margin-top: 0px !important;
}

.icon-nav-icon {
  width: 20px;
  height: 20px;
}

.icon-nav-icon.fill {
  fill: #E59636;
}

.icon-nav-icon.stroke {
  stroke: #E59636;
  fill: transparent;
}

.nav-item .icon-box {
  background: #E596364D;
}

.nav-item:hover .icon-box {
  background: #E59636;
}

.nav-item:hover .icon-nav-icon.fill {
  fill: #fffefe;
}

.nav-item:hover .icon-nav-icon.stroke {
  stroke: #fffefe;
  fill: transparent;
}

.nav-item .icon-chevron{
  width: 10px;
  fill: #633C0D;
  margin-left: 4px;
}

.nav-item:hover .icon-chevron{

}

.nav-item.coming-soon {
  pointer-events: none;
}

.nav-item.coming-soon .icon-box {
  background: #f5f5f5;
}

.nav-item.coming-soon .icon-nav-icon.stroke {
  stroke: #878787;
  fill: transparent;
}

.nav-item.coming-soon .icon-nav-icon.fill {
  fill: #878787;
}
/* navigation bar icon styling end */

.icon-footer-icon {
  fill: #252424;
  width: 14px;
  height: auto;
}

.icon-footer-github-icon {
  fill: #9C9C9C;
}

.icon-footer-github-icon:hover{
  fill: #E59636;

}

.terms-sections  .subHeading{
  margin-bottom: 16px;
  font-size: 18px;
    color: #423F40;
}
.terms-sections .contentClass{
  margin-bottom: 16px;
}

.ml-auto{
  margin-left: auto;
}

/* swiper slide custom styles */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide text vertically */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* swiper slide custom styles end */



.btc-assets .slick-slide {
  height:500px !important;
  display: flex !important;
  align-items: center !important;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 30px 0;
}

.btc-assets .slick-slide>div img{
  transition: all .4s ease-in-out;
  padding: 0px;
  background: #fff;
  border-radius: 20px;
}

.btc-assets  .slick-track .slick-active.slick-center{
  position: relative;
  z-index: 2;
}

.btc-assets  .slick-track .slick-active.slick-center img{
  transition: all .5s ease-in-out;
  transform: scale(2.7);
}

.btc-assets .slick-dots{
  bottom: -40px !important;
}

.btc-assets .slick-dots li button{
  background: #999999 !important;
  color: #999999 !important;
  border-radius: 100%;
  width: 12px !important;
  height: 12px !important;
}

.btc-assets div:has(+div.slick-current), .btc-assets div.slick-current + div{
  position: relative;
  z-index: 1;
}

/**To get the the previous slide**/
.btc-assets div:has(+div.slick-current) img{
  transform: scale(2, 2.3);
}

/**To get the the first slide in active list**/
.btc-assets div:has(+div +div.slick-current) img{
  transform: scale(1, 1.6);
}

/**To get the the next slide**/
.btc-assets div.slick-current + div img{
  transform: scale(2,2.3);
}

/**To get the the last slide in active list**/
.btc-assets div.slick-current + div + div img{
  transform: scale(1, 1.6);
}

.btc-assets .slick-dots li.slick-active button{
  background: #EE972C !important;
  color: #EE972C !important;
  width: 16px !important;
  height: 16px !important;
}


.slick-dots li button:before, .slick-dots li.slick-active button:before{
  color: transparent !important;
}

.slick-prev, .slick-next{
  display: none !important;
}

/** Home page hero bg animation**/
.bg-video{
  position: absolute;
  /*top: -48px;*/
}

.swiper{
  padding: 30px 0 !important;
}

.swiper-slide .slider-card{
  transform: scale(1);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.swiper-slide-active{
  z-index: 10;
}

.swiper-backface-hidden .swiper-slide{
  margin: 0 !important;
  transform: scale(0.96) !important;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}


.swiper-slide.swiper-slide-active{
  transform: scale(1.1) !important;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}

@media (max-width: 540px) {
  .swiper-slide.swiper-slide-active{
    transform: scale(0.9) !important;
    margin: auto !important;
  }
  .swiper-slide-active .slider-card{
    box-shadow: none;
  }
  /*.swiper-slide.swiper-slide-prev{*/
  /*  margin-right: 0px !important;*/
  /*}*/
  /*.swiper-slide.swiper-slide-next{*/
  /*  margin-left: 0px !important;*/
  /*}*/

  /*.swiper-slide-active .slider-card .video-container{*/
  /*  margin: 0 14px;*/
  /*  background-size: inherit !important;*/
  /*}*/
}

@media (min-width: 540px) {
  .swiper-slide.swiper-slide-prev{
    margin-right: 20px !important;
  }
  .swiper-slide.swiper-slide-next{
    margin-left: 20px !important;
  }
}

.swiper-slide-active .slider-card{
  z-index: 10;
  transition-duration: 0.7s;
  transition-timing-function: ease-in-out;
}

.swiper-slide-active .slider-card .video-container{
  background-image: url("/images/home-page/anim-bg.svg");
  border: 1.1px solid #8C5512;
  background-size: 105%;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-slide-active .slider-card .slide-title{
  color: #FEFDFB !important;
  font-size: 26px !important;
  font-weight: 700 !important;
}

.swiper-slide-active .slider-card .slide-title{

}

.icon-team-social{
  width: 12px;
  height: 12px;
}

.lottie-container {
  background-color: transparent; /* Initial background color */
  transition: background-color 0.3s ease;
}

.lottie-container.hovered {
  background-color: transparent; /* Background color on hover */
}

.icon-sort-up, .icon-sort-down {
  fill: #A6A6A6;
  width: 6px;
  height: 6px;
}

.table-container table{
  border-collapse: separate;
  border-spacing: 0 12px;
}
.table-container tbody tr:nth-child(even) {
  background-color: #FCF7F1;
}
.table-container tbody tr:nth-child(even) td:first-child{
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.table-container tbody tr:nth-child(even) td:last-child{
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.table-container tbody tr td{
  border: 0px !important
}

.table-container thead tr th {
  border-color: #633C0D80;
}
.icon-sort-up.active, .icon-sort-down.active {
  fill: #633C0D;
}