
.xprt-banner-ecosystem.ecosystem-faq-section {
  padding: 200px 0;
}


.ecosystem-faq-section {
  padding: 100px 0;
  background: #1F2023;
  .section-title{
    color: #FFFFFF;
    padding-bottom: 20px;;
  }
  .row{
    justify-content: center;
  }
  .accordion {
    padding-top: 40px;

    .accordion-button {
      background: none;
      border: 0px solid ;
      outline: 0;
    }

    .card {
      background: transparent;
      border: 0px solid;
      margin-bottom: 20px;

      .card-header {
        background-color: #313134;
        display: flex;
        align-items: center;
        justify-content: space-between;

        p {
          margin: 0;
          font-weight: 600;
          font-size: 14px;
          line-height: 2;
          color: #FFFFFF;
        }
      }

      .card-body {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        line-height: 2;
        color: #F3F3F3;
      }
    }
  }
}

.info-form{
  text-align: center;
  padding-bottom: 40px;
  .text{
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 2;
    color: #FFFFFF;
    a{
      color: #e50913;
      text-decoration: underline;
      font-size: 16px;
      padding-left: 5px;
    }
  }
}