.grant-section{
  padding: 100px 0;
  background-image: url(./../../images/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  .section-title {
    font-weight: 500;
    font-size: 58px;
    line-height: 150%;
    color: #FBFBFB;
    padding-bottom: 20px;
  }
  .button-heading{
    margin: 0px auto 40px auto;
    .title{
      font-weight: 500;
      font-size: 40px;
      line-height: 60px;
      color: #F8F8F8;
    }
    &.heading2{
      width: 300px;
    }
  }
  .lists, ul{
    li{
      font-size: 16px;
      line-height: 150%;
      color: #F0F0F0;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      margin-bottom: 16px;
      word-break: break-word;
    }
  }

  .scope-container{
    padding-bottom: 50px;
    margin: 0 70px;
  }
  .boxes-container {
    margin-bottom: 40px;
    .boxes {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      .box {
        flex: 1;
        margin: 0px 20px 20px 20px;

        .box-content {
          padding: 40px;
          max-width: 400px;
          background: #202025;
          border: 1px solid #6F0303;
          border-radius: 12px;

          .box-heading {
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            text-transform: capitalize;
            color: #FFFFFF;
            margin-bottom: 30px;
          }

          .content {
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            color: #FFFFFF;
            font-family: "Poppins", sans-serif;
          }
        }

        &:first-child {
          display: flex;
          justify-content: flex-end;
        }
        &:nth-child(2){
          display: flex;
          justify-content: flex-start;
        }
      }
    }
  }
  .process-container {
    margin: 0 70px 40px 70px;
    h3{
      font-weight: bold;
      font-size: 20px;
      line-height: 48px;
      color: #FFFFFF;
      font-family: "Poppins", sans-serif;
    }
    p, li {
      font-size: 16px;
      font-family: "Poppins", sans-serif;
      line-height: 2;
      color: #FFFFFF;
    }
  }
  .bottom-cards{
    margin: 0 70px 40px 70px;
    display: flex;
    flex-wrap: wrap;

    .box {
      flex: 1;
      margin: 0px 20px 20px 20px;
       //&:first-child{
       //  padding-right: 15px;
       //}
       // &:last-child{
       //   padding-left: 15px;
       // }
      .box-body {
        padding: 40px;
        min-width: 200px;
        max-width: 600px;
        height: 100%;
        background: #232329;
        //border: 1px solid #6F0303;
        border-radius: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img{
          width: 50px;
          margin-bottom: 20px;
        }
        .heading{
          font-weight: 600;
          font-size: 22px;
          line-height: 33px;
          text-transform: uppercase;
          color: #FFFFFF;
          margin-bottom: 30px;
        }
        .content{
          font-weight: 300;
          font-size: 16px;
          line-height: 170%;
          color: #DFDFDF;
          margin-bottom: 20px;
        }
        .buttons{
          display: flex;
          a{
            margin:10px;
            border-radius: 22px !important;
            display: block;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: #FFFFFF;
            .icon{
              margin-left: 10px;
              fill: #FFFFFF;
            }
            &:hover{
              color: #e50913;
              .icon{
                fill: #e50913;
              }
            }
          }
        }
        .social-list{
          display: flex;
          margin: 0;
          flex-wrap: wrap;
          a{
            width: 54px;
            height: 54px;
            margin-right: 20px;
            display: flex;
            align-items: center;
            border-radius: 50%;
            justify-content: center;
            background: #e50913;
            .icon{
              width: 22px;
              fill: #ffffff;
            }
          }
        }
      }
    }
  }
}