html,
body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #070B09 !important;
  scroll-behavior: smooth;
  
}

.body-wrap {
  scroll-behavior: smooth;
}
// common and custom css
.pl-0 {
  padding-left: 0;
}

.p-0 {
  padding: 0 !important;
}

.pr-0 {
  padding-right: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.pr-10 {
  padding-right: 10px !important;
}

.margin-l-40 {
  margin-left: 40px;
}

.mt-30 {
  margin-top: 30px;
}

::-moz-selection {
  /* Code for Firefox */
  color: #fff;
  background: #e50913;
}

.primary-medium-color {
  color: #f9f9f9;
  font-weight: 500;
}

.primay-secondary-color {
  color: #9a9a9a;
  font-weight: 600;
}

.primary-bg-color {
  background: #313238;
}

.primary-white-color {
  color: #ffffff;
}

::selection {
  color: #fff;
  background: #e50913;
}



.flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a:-webkit-any-link:focus {
  outline-offset: 0px;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

a {
  color: #fff;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.psection-65 {
  padding: 65px 0;
}

.width-100 {
  width: 100%;
}

.section-title {
  text-align: center;
  padding: 0 0 50px 0;
  font-weight: bold;
  font-size: 32px;
}

.icon {
  width: 15px;
  font-size: 1.5rem;
  color: #787878;
  transition: 0.2s ease-in-out;
  fill: #787878;
}
.button-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .button-initial.button.two {
    background: transparent;
    border: 0px solid #303132;

    &:hover{
      background: transparent;
      text-decoration: underline!important;
      border: 0px solid #303132;
    }

  }
  .button-initial.button {
    background: #E50913;
    border-radius: 6px;
    padding: 8px 15px;
    border: 1px solid #E50913;
    font-size: 14px;
    width: 170px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    margin: 0 0px;
    display: inline-block;
    transition: all 0.5s ease-in-out;
    &:hover{
      background: #E50913;
      border: 1px solid #E50913;
    }
  }
}
.Toastify__toast {
  word-break: break-word !important;
}

.button-primary {
  background-color: #e50913 !important;
  border-radius: 0px !important;
  border: 0px solid !important;
  font-weight: bold !important;
  font-size: 12px !important;
  line-height: 1.8 !important;
  text-align: center !important;
  color: #ffffff !important;
  padding: 8px 35px !important;
  box-shadow: none !important;
}

.navbar-toggler.x {
  border: none;

  &:focus {
    outline: none;
  }

  .icon-bar {
    width: 22px;
    display: block;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;

    & + .icon-bar {
      margin-top: 4px;
    }

    &:nth-of-type(1) {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform-origin: 10% 10%;
      -ms-transform-origin: 10% 10%;
      transform-origin: 10% 10%;
    }

    &:nth-of-type(2) {
      opacity: 0;
      filter: alpha(opacity=0);
    }

    &:nth-of-type(3) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-transform-origin: 10% 90%;
      -ms-transform-origin: 10% 90%;
      transform-origin: 10% 90%;
    }
  }
}

.navbar-toggler.x.collapsed {
  .icon-bar {
    &:nth-of-type(1) {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
    }

    &:nth-of-type(2) {
      opacity: 1;
      filter: alpha(opacity=100);
    }

    &:nth-of-type(3) {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
    }
  }
}

.navbar.navbar-custom.scrolled {
  padding: 0 0 15px 0;
  transition: all ease 0.5s;
  .bannernav-section {
    width: 100%;
    background: #e50913;
    position: relative;
    top: 0px;
    margin-bottom: 15px;

  }
}

  .navbar.navbar-custom {
    width: 100%;
    padding:0;
    background: #070B09;
    .links a {
      width: 32px;
      height: 32px;
      margin-right: 17px;
      align-items: center;
      border-radius: 50%;
      justify-content: center;
    }
    .navbar-brand {
      padding-left: 0px;

      img {
        width: 180px;
        height: auto;
      }
    }

    .mdi-menu {
      color: #ffffff;
    }
    .nav-item.show{
        .nav-link {
          border-bottom: 3px solid #e50913;
          .icon{
            transform: rotate(-90deg);
          }
        }
    }
    .navbar-nav {
        .nav-link {
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          font-size: 16px;
          line-height: 1.5;
          text-align: center;
          text-transform: capitalize;
          color: #C4C4C4;
          margin: 0 5px;
          padding: 0 0.6rem !important;
          height: 74px;
          display: flex;
          align-items: center;
          .icon{
            margin-left: 5px;
            width: 10px;
            transform: rotate(90deg);
          }
          &:after{
            content: none;
          }
        }

      .nav-link.active {
          color: #ffffff;

          &::first-letter {
            border-top: 2px solid #e50913;
          }
        }
      .dropdown-menu{
        position: fixed;
        left: 0;
        top: 74px;
        right: 0;
        bottom: auto;
        z-index: 1;
        overflow: hidden;
        padding: 20px;
        background-color: #28292c;
        font-size: 13px;
        .nav-dropdown-items{
          display: flex;
          .nav-dropdown-item.buttoneco{
            display: flex;
            align-items: center;
            a{
              background: #000;
              padding: 15px 45px;
              border-radius: 6px;
              font-size: 14px;
              font-weight: 600;
              color: #fff;
              &:hover{
                color:#fff
              }
            }
          }
          .nav-dropdown-item{
            margin: 0px 30px;
            width: 280px;

            .inner-items.firstone{
              width: 280px;
              border-radius: 6px;
              padding: 15px 15px 5px 15px;
              transition: all 0.5s ease-in-out;
              &:hover{
                background: #ECECEC;

              }
            }
            .inner-items{
              padding: 10px 0;
              .inner-item{
                img{
                  margin-bottom: 0;
                }
                p.inner{
                  color:#ACACAC;
                  font-weight: 400;
                  font-size: 14px;
                }
                p{
                  font-size: 14px;
                  text-transform: capitalize;
                  border: 0;
                }
              }
            }
            .header{
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              text-transform: uppercase;
              color: #1C1C21;
              padding: 10px 0;
              border-bottom: 2px solid #D9D9D9;
              margin-bottom: 24px;
            }
            .inner-items{
              .inner-item.ml-3{
                font-size: 16px;
                line-height: 24px;
                text-transform: capitalize;
                color: #1C1C21;
                margin-bottom: 16px;
                font-weight: 600;
                display: block;
              }

              .inner-item{

                  .icon{
                    width: 10px;

                  }

                font-size: 14px;
                line-height: 24px;
                text-transform: capitalize;
                color: #1C1C21;
                margin-bottom: 16px;
                font-weight: 400;
                display: block;
                &.para{
                  width: 250px;
                }
                &:hover{
                  color: #1C1C21;
                  text-decoration: underline!important;

                }
              }
              img{
                max-width: 200px;
                margin-bottom: 16px;
              }
              .sub-inner-items{
                .sub-inner-items-title{
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 24px;
                  //letter-spacing: 0.08em;
                  text-transform: uppercase;
                  color: #F8F8F8;
                  padding: 10px 0;
                  border-bottom: 1px solid #313135;
                }
              }
              &.sub{
                display: flex;
                flex-wrap: wrap;
                .sub-inner-items {
                  margin: 0px 20px 0 0;
                }
              }
              .links{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                a{
                  width: 28px;
                  height: 28px;
                  margin: 5px;
                  display: flex;
                  align-items: center;
                  border-radius: 50%;
                  justify-content: center;
                  background: #363B46;
                  .icon{
                    width: 12px;
                    fill: #ffffff;
                  }
                }
              }
            }
          }
          &.learn-items, &.community-items,  &.ecosystem-items, &.network-items{
            justify-content: left;
          }
        }
      }

      .dropdown .dropdown-menu {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        max-height: 0;
        display: block;
        overflow: hidden;
        opacity: 0;
        background: #E5E5E5;
      }
      .dropdown.show .dropdown-menu {
        max-height: 600px;
        overflow: auto;
        opacity: 1;
        box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
      }
    }
  }

.regional-modal-body {
  .close-button {
    background: transparent;
    position: absolute;
    right: 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: #ccc;
    padding: 20px;
    border: 0px solid;
    outline: none;
  }
}

.modal-data {
  flex-direction: column;
  padding: 30px;

  .regionals {
    display: flex;
  }

  .chinese-dropdown {
    width: 400px;

    .card {
      background: transparent;
      border: 0px solid;
      margin-bottom: 20px;

      .card-header {
        p {
          margin: 0;
          font-weight: 600;
          font-size: 14px;
          line-height: 2;
          color: #ffffff;
        }

        button {
          background: none;
          border: 0px solid;
          outline: 0;
        }

        background-color: #313238;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .card-body {
        img {
          width: 100%;
        }

        p {
          margin: 0;
          font-weight: 600;
          font-size: 14px;
          line-height: 2;
          color: #ffffff;
        }
      }
    }
  }

  .regional-box {
    a {
      width: 150px;
      display: flex;
      align-items: center;
      margin: 0 10px 10px 0;
      justify-content: center;
      background: #313238;
      border-radius: 0px;
      border: 0px solid;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.8;
      text-align: center;
      color: #ffffff;
      padding: 12px 35px !important;
      box-shadow: none;

      &:hover {
        background: #e50913;
      }
    }
  }
}

.modal-open {
  padding: 0 !important;
}

.info-modal.modal .modal-dialog {
  max-width: 880px !important;

  .modal-content {
    //.modal-header{
    //  padding: 0;
    //  border: 0;
    //  margin: 0;
    //  button{
    //    position: absolute;
    //    right: 20px;
    //    top: 20px;
    //    text-transform: uppercase;
    //    font-size: 28px;
    //    font-weight: 100;
    //  }
    //}
    background: #28292d;

    .modal-body {
      padding: 0;
    }

    .modal-data {
      display: flex;

      .profile-image {
        img {
          width: 300px;
          height: auto;
        }
      }

      .content {
        padding: 30px 30px 10px 30px;

        .name {
          font-weight: bold;
          font-size: 20px;
          line-height: 1.759;
          color: #ffffff;
        }

        .about {
          font-family: "Poppins", sans-serif;
          font-size: 14px;
          line-height: 2.14;
          color: #d8dfe9;
        }

        .role {
          font-family: "Poppins", sans-serif;
          font-weight: 300;
          font-size: 16px;
          line-height: 1.759;
          color: #a5a5a5;
          margin: 0 0 10px 0;
        }

        .icons {
          display: flex;
          align-items: center;

          .icon-box {
            margin-right: 5px;
            width: 32px;
            height: 32px;
            background-color: #e50913;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            .icon {
              fill: #ffffff;
            }
          }
        }
      }

      .close-button {
        background: transparent;
        position: absolute;
        right: 0;
        font-size: 1.5rem;
        font-weight: 700;
        color: #ccc;
        padding: 20px;
        border: 0px solid;
        outline: none;
      }
    }
  }
}
.language-dropdown {
  .icon {
    color: #c4c4c4;
    width: 22px;
  }
}
.second-section {
  background: #f5f5f5;
}
.ml-10 {
  margin-left: 10px !important;
}
.footer {
  .resources {
    margin-top: 30px;
  }

  background: #F1F1F1;
  padding: 80px 0 0 0;

  .footer-list li a,
  .footer-list li .inactive {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.31;
    color: rgba(0, 0, 0, 0.69);
  }

  .email {
    margin-bottom: 20px;
  }

  .footer-list li {
    margin: 10px 0;

    a span.mdi {
      color: #a9a9a9;
      font-size: 20px;

      img {
        width: 17px;
      }
    }
  }

  .dark-logo {
    width: 200px;
    margin-bottom: 20px;
  }

  h6 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.314;
    color: rgba(0, 0, 0, 0.89);
  }

  .copy-rights {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.314;
    color: #70747c;
    display: inline-block;
    .icon{
      width: 10px;
    }
  }

  .contact-box .mail-chimp-section input {
    background: #D9D9D9;
    border: 0px solid;
    border-radius: 6px;
    padding: 10px 10px;
    font-weight: 500;
    margin-right: -15px;
    font-size: 12px;
    color: #dee2e6;
  }

  .subscription-result {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }

  .btn-subscribe {
    opacity: 1 !important;
    width: auto;
    text-transform: uppercase;
    background: #e50913 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08) !important;
    border-radius: 6px !important;
    border: 0px solid !important;
    font-weight: bold !important;
    font-size: 14px !important;
    line-height: 1.8 !important;
    text-align: center !important;
    color: #ffffff !important;
    padding: 8px 20px !important;
  }

  .footer-text {
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 1.31;
    color: rgba(0, 0, 0, 0.69);
  }

  .social-links-section {
    ul {
      display: flex;
      margin-top: 0px;
      flex-wrap: wrap;
      justify-content: center;
    }

    padding-top: 15px;

    a {
      width: 28px;
      height: 28px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      border-radius: 50%;
      justify-content: center;
      background: #363b46;

      .icon {
        width: 12px;
        fill: #ffffff;
      }

      &:hover {
        background: #525967;
      }
    }
  }

  .footer-bottom-section {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-logo-section {

    padding-top: 20px;
    display: flex;
    padding-bottom: 20px;
    align-items: self-end;

    .dark-logo {
      height: 20px;
      width: 140px;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }

  .contact-us {
    .mail-chimp-section {
      display: flex;
      align-items: center;
      margin: 10px 0 20px 0;

      input {
        width: 100%;
      }
    }
  }
}

.show-message {
  animation: hide-animation 10s ease-in 0s;
  visibility: hidden;
}

@keyframes hide-animation {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

#tsparticles {
  canvas {
    height: 100vh !important;
    visibility: hidden;
    background: radial-gradient(94.37% 161.58% at 2.64% 12.07%, #16151d 0%, #232526 100%);
  }
}

.progress-bar-box {
  height: 100%;
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 999999;
}

.progress {
  width: 100%;
  position: absolute;
  height: 2px !important;
  top: 50%;
}

.progress-bar {
  width: 0;
  animation: progress 1.5s ease-in-out forwards;
  background-color: #000 !important;

  .title {
    opacity: 0;
    animation: show 0.5s forwards ease-in-out 0.8s;
  }
}

.bar-container {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  z-index: 99999;
}

.bar-container > div {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 50%;
}

.bar-container span {
  display: none !important;
}

.bar-container > div > div {
  height: 2px !important;
  background-color: transparent !important;
}

.bar-container > div > div > div {
  height: 2px !important;
  background: #e50913 !important;
  background-color: #e50913 !important;
  border: 2px solid #e50913;
  box-sizing: border-box;
  //box-shadow: 0 -2px 14px red;
}

.go-top {
  background: #ffff;
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  border-radius: 50%;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}

.go-top > div {
  position: relative !important;
  bottom: 0 !important;
  right: 0 !important;
}

.go-top .icon {
  width: 17px;
}

.title-line-section {
  padding: 0 0 100px 0;

  .section-title {
    padding: 0;
    margin: 0 0 1em;
    line-height: 2em;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    font-size: 1.5em;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 0;

    &:before,
    &:after {
      content: " ";
      position: absolute;
      top: 50%;
      margin-left: -999em;
      height: 2px;
      width: 998em;
      border-top: 1px solid #313238;
      background: rgba(0, 0, 0, 0.2);
    }

    &:after {
      left: auto;
      width: 999em;
      margin: 0 0 0 1em;
    }
  }
}

.tooltip > div.tooltip-inner {
  background-color: #363b46 !important;
}

.tooltip > div.arrow::before {
  border-bottom-color: #363b46 !important;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

button:disabled {
  opacity: 0.65;
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1340px !important;
  }
}


.react-multi-carousel-item{
  margin-right: 25px;
  cursor: pointer;
}