.xprt-banner-section{
  padding: 200px 0 100px 0;
  background-repeat: no-repeat;
  .aquire-content{
    margin-top: 100px;
  }
  a{
    text-decoration: none!important;
    &:hover{
      text-decoration: none!important;

    }
  }
  //height: 100vh;
  //overflow: auto;
  background-image:url(./../../images1/xprt_bg2.svg),  url(./../../images1/xprt_bg.svg);
  background-size:200px, contain ;
  background-position:top right, center bottom;
  .content{
    display: flex;
    flex-wrap: wrap;
    .left {
      margin: 10px 0;
      .xprt-title-box{
        border: 3px solid rgba(229, 9, 19, 1);
        //border-image-source: linear-gradient(102.1deg, #E50913 14.9%, #611C1F 100%);
        background: #202123;
        box-shadow: 0px 0px 13px 4px rgba(229, 9, 19, 0.26);
        border-radius: 54px;
        padding:6px 12px;
        display: inline-block;
        text-align: center;
        width: 105px;
        margin-bottom: 1rem;
        p{
          font-weight: 700;
          font-size: 22.1382px;
          line-height: 33px;
          color: #FFFFFF;
          margin: 0;
          span{
            display: inline-block;
            line-height: 0.9;
            border-top: 3px solid #E50913;
          }
        }
      }
      .heading {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        margin-bottom: 2rem;
      }
      .list{
        .item-heading{
          font-weight: 600;
          font-size: 20px;
          line-height: 25px;
          letter-spacing: 0.15668px;
          color: #FFFFFF;
          margin-bottom: 1.25rem;
          img{
            width: 31px;
            height: 31px;
            margin-right: 1rem;
          }
        }
        .item-text{
          font-weight: 300;
          font-size: 14px;
          line-height: 30px;
          color: #A6A6A6;
          margin-bottom: 1.5rem;
        }
      }
      .buttons {
        display: flex;
        align-items: center;
        margin-top: 2.5rem;
        .primary{
          &:hover{
            background: #E50913;
            border:1px solid #E50913

          }
          background: transparent;
          border-radius: 6px;
          padding: 0.5rem 2rem;
          font-weight: 600;
          transition: all 0.5s ease-in-out;
          font-size: 14px;
          line-height: 150%;
          text-align: center;
          text-decoration-line: underline;
          text-transform: uppercase;
          color: #FCFCFC;
          box-shadow: none;
          border: 1px solid #303132 ;
          outline: none;
          margin-right: 10px;
        }
        .button-secondary{
          &:hover{
            color:#E50913;
          }
          padding: 0px 2rem;
          font-weight: 600;
          transition: all 0.5s ease-in-out;
          font-size: 14px;
          line-height: 150%;
          text-align: center;
          text-decoration-line: underline;
          text-transform: uppercase;
          color: #FCFCFC;
          outline: none;
          box-shadow: none;
          border: 0px solid ;
          background:none;
          &:active, &:hover{
            outline: none;
            box-shadow: none;
            border: 0px solid ;
            background: 0px;
          }
        }
      }
    }
    .right{
      margin: 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        max-width: 520px;
        width: 100%;
      }
    }
  }
  .aquire-content{
    .title{
      font-weight: 700;
      font-size: 48px;
      line-height: 60px;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 50px;
    }
    .logos{
      display: -webkit-flex;
      display: flex;
      -webkit-align-content: center;
      align-content: center;
      -webkit-justify-content: space-between;
      justify-content: space-between;
    }
  }
}

.opportunities-section{
  padding: 100px 0;
  background: #000000;
  a{
    text-decoration: none!important;
    &:hover{
      text-decoration: none!important;

    }
  }
  .title{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
  }
    .staking-boxes{
      max-width: 816px;
      margin: auto;
      .heading{
        max-width: 816px;
        font-weight: 600;
        font-size: 20px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 21.2px;
        color: #414141;
        position: relative;
        text-transform: uppercase;

      }
      .heading:before, .heading:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 32%;
        height: 1px;
        content: '\a0';
        background-color: #414141;
      }
      .heading:before {
        margin-left: -34%;
        text-align: right;
      }
      .heading:after {
        margin-left: 0%;
        width: 34%;
      }
      //.color {
      //  background-color: #ccc;
      //}
      .boxes{
        //display: flex;


        .box{
          background: linear-gradient(151.51deg, #1F2023 2.98%, rgba(19, 20, 22, 0.48) 85.16%);
          border: 1px solid rgba(92, 92, 92, 0.1);
          box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.06);
          border-radius: 6px;
          padding: 3rem 2.5rem;
          margin-bottom: 15px;
          //flex: 1;
          //margin: 10px;
          text-align: center;
          .name{
            font-weight: 600;
            font-size: 30px;
            line-height: 25px;
            letter-spacing: 0.15668px;
            color: #FFFFFF;
          }
          .apr{
            font-weight: 600;
            font-size: 52px;
            line-height: 78px;
            text-align: center;
            color: #FFFFFF;
            margin: 0;
          }
          .sub-title{
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #FFFFFF;
          }
          .buttons {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 2.5rem;
            .primary{
              &:hover{
                background: #E50913;
                border: 1px solid #E50913;

              }
              background: transparent;
              border-radius: 6px;
              padding: 0.5rem 2rem;
              font-weight: 600;
              transition: all 0.5s ease-in-out;
              font-size: 14px;
              line-height: 150%;
              text-align: center;
              text-decoration-line: underline;
              text-transform: uppercase;
              color: #FCFCFC;
              box-shadow: none;
              border: 1px solid #303132 ;
              outline: none;
            }
            .button-secondary{
              &:hover{
                color: #E50913;

              }
              font-weight: 600;
              font-size: 14px;
              transition: all 0.5s ease-in-out;
              line-height: 150%;
              text-align: center;
              text-decoration-line: underline;
              text-transform: uppercase;
              color: #FCFCFC;
              outline: none;
              box-shadow: none;
              border: 0px solid ;
              background:none;
              &:active, &:hover{
                outline: none;
                box-shadow: none;
                border: 0px solid ;
                background: 0px;
              }
            }
          }
        }
      }
      &.defi{
        .box{
          .sub-title{
            font-weight: 500;
            font-size: 28px;
            line-height: 150%;
            text-align: center;
            letter-spacing: 0.15668px;
            color: #ECECEC;
            opacity: 0.9;
          }
          .apr-text{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.08em;
            color: #A6A6A6;
          }
          .buttons{
            .primary{
              width: 100%;
            }
          }
        }
        .heading{
          &:before{
            margin-left: -42%;
            width: 39%;
          }
          &:after{
            width: 42%;
          }
        }
      }
    }
}

.stay-updated.xprt{
  .react-multi-carousel-list {
    padding-bottom: 50px;
    .react-multi-carousel-item{
      height: 235px;
    }
  }
  .title{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #070B09;
    margin-bottom: 2.5rem;
  }
  background: #FCFCFC;
  .blog-title{
    bottom: -3.5rem;
    a{
      font-weight: 600;
      font-size: 16px;
      line-height: 32px;
      letter-spacing: 0.2px;
      text-decoration-line: underline;
      color: #181818;
    }
  }
}