body {
	font-family: 'Montserrat', sans-serif;
	
}

$textcolor: #414141;
::-moz-selection {
	/* Code for Firefox */
	color: #fff;
	background: #E50913;
}

 ::selection {
	color: #fff;
	background: #E50913;
}
a:hover {
	text-decoration: none!important;
	
}
a{
	color:#fff;
}
.form-control:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0)!important;
}
.line {
	width: 1px;
    height: 20px;
    background: #575757;
    display: flex;
    margin-top: 10px;
    margin-right: 15px;
}
input:focus {
	outline: none!important;
}

.other-team {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 138px;
	height: 138px;
	background: #515151;
	border-radius: 50%;
	p {
		color: #fff;
		margin-bottom: 0;
		font-weight: bold;
	}
}

.comdex-section>img {
	width: 175px;
	margin-bottom: 10px;
}

.title-line {
	position: relative;
	display: inline-block;
}

.icon {
	width: 15px;
    font-size: 1.5rem;
    color: #575757;
    transition: 0.2s ease-in-out;
    fill: #575757;
}

.icon:hover {
	color: #E50913!important;
}

.dark-logo {
	width: 200px;
	margin-bottom: 20px;
}

.first-subs {
	border: 1px solid #444444;
	transition: 0.2s;
}

.first-subs:hover {
	background: #E50913!important;
}

.footer-buttons {
	text-align: right;
}

.media-blocks {
	margin-top: 25px;
	.map-section {
		img {
			width: 100%;
			height: 100%;
			padding-top: 15px;
		}
	}
}

// .title-line::after {
// 	content: '';
//     position: absolute;
//     left: 0;
//     top: 100%;
//     margin: 5px auto;
//     width: 65px;
//     height: 6px;
//     background: #000;
//     border-bottom-right-radius: 10px;
// }

/*---Navbar---*/

.navbar-custom {
	padding: 20px 0px;
	width: 100%;
	border-radius: 0px;
	z-index: 999;
	margin-bottom: 0px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	.navbar-brand {
		padding-top: 0;
		text-transform: uppercase;
		color: #414141 !important;
		font-weight: 800;
		letter-spacing: 2px;
		height: auto;
		font-size: 24px;
		img {
			height: 25px;
		}
	}
	.navbar-nav {
		margin-left: 40px;
		li {
			a {
				color: #414141;
				font-weight: 600;
				font-size: 15px;
				background-color: transparent;
				padding: 15px 0;
				font-size: 14px;
				margin: 0 10px;
				transition: all 0.4s;
				&:hover {
					color: #fff;
				}
				&:focus {
					color: #fff;
				}
				&:active {
					color: #fff;
				}
			}
		}
		li.active {
			a {
				color: #fff;
			}
		}
	}
	.btn-custom {
		margin-top: 4px;
		margin-bottom: 4px;
	}
}

.sticky-wrapper {
	position: absolute;
	width: 100%;
}

.navbar-nav {
	margin-left: 50px;
	border-bottom: none;
}

.is-sticky {
	.navbar-custom {
		margin-top: 0px;
		padding: 10px 0px;
		background-color: #191616;
		-moz-box-shadow: 0 10px 33px rgba(0, 0, 0, .1);
		-webkit-box-shadow: 0 10px 33px rgba(0, 0, 0, .1);
		box-shadow: 0 10px 33px rgba(0, 0, 0, .5);
	}
}

.navbar-collapse {
	justify-content: flex-end;
}

.navbar-toggle {
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #ffffff;
}

.nav {
	.open {
		>a {
			background-color: transparent;
			border-color: #337ab7;
			&:focus {
				background-color: transparent;
				border-color: #337ab7;
			}
			&:hover {
				background-color: transparent;
				border-color: #337ab7;
			}
		}
	}
}

.navbar-custom {
	background-color: #191616 !important;
	padding: 10px 0;
	box-shadow: 0 10px 33px rgba(0, 0, 0, .1);
	.navbar-nav {
		li {
			a {
				color: #F9F9F9 !important;
			}
			li:last-child a {
				margin: 0 0;
			}
		}
	}
	.navbar-brand {
		color: #393f4f !important;
	}
	.navbar-toggler {
		color: #fff;
	}
	.header-buttons {
		.button-explorer,
		.button-app {
			border: 1px solid #444444;
			padding: 10px 20px;
			box-sizing: border-box;
			width: 100px;
			font-weight: 600;
			color: #191616;
			&:hover {
				text-decoration: none;
			}
		}
		.button-explorer:hover,
		.button-app:hover {
			border: 1px solid #E50913;
			background: #E50913;
			color: #F9F9F9;
		}
	}
	.team-link {
		margin: 0;
	}
}

// Product Section Css
.section-1 {
	.title {
		color: #F9F9F9;
		font-weight: 800;
	}
	.sub-title {
		line-height: 2;
		font-size: 18px;
		color: #9D9D9D;
		margin-top: 1rem;
		span {
			font-weight: 600;
		}
	}
}

.sub-section {
	.mdi {
		font-size: 2rem;
		line-height: 1;
	}
}

.section-slider {
	background: radial-gradient(38.38% 45.11% at 67.95% 61.62%, #252121 0%, #181616 100%);
	padding: 100px 0 200px 0;
	h3 {
		color: #DADADA;
		padding-bottom: 50px;
		text-align: center;
		font-weight: bold;
	}
	.head-slider>div {
		width: 100%;
	}
	.slider-title>div>p {
		text-align: left;
		line-height: 1.8;
		font-size: 18px;
		font-weight: 500;
		color: #D4D4D4;
	}
	.slider-width {
		text-align: center;
	}
	.slider-width>img {
		width: 280px;
	}
	.carousel-control-prev {
		right: 25px;
		left: auto;
	}
	.carousel-control-next,
	.carousel-control-prev {
		top: auto;
		bottom: -65px;
		width: 20px;
	}
	.carousel-control-next-icon,
	.carousel-control-prev-icon {
		width: 13px;
		height: 23px;
	}
	.carousel-caption {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 10;
		padding-top: 20px;
		padding-bottom: 20px;
		color: #fff;
		margin-left: 15px;
		text-align: center;
		top: 0;
	}
	.carousel-indicators {
		position: absolute;
		right: auto;
		bottom: -80px;
		left: 0;
		margin: 0;
	}
}

.section-products {
	background-color: #EEEEEE;
	background-image: url('../assets/dots.png');
	padding: 100px 0;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 0;
	background-position: 0 50px;
	h3 {
		text-align: center;
		color: #191616;
		font-weight: bold;
		padding-bottom: 80px;
	}
	padding: 100px 0;
	.section-subtitle {
		margin-top: 10px;
	}
	.comdex-section {
		.comdex-button {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		a {
			font-weight: 500;
			padding: 10px 20px;
			color: #fff;
			background-color: #E50913;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.media-blocks {
		.media-block {
			margin-top: 15px;
			.services-list {
				box-shadow: 0px -3px 17px 3px rgba(0, 0, 0, 0.06);
				padding: 25px 30px;
				position: relative;
				z-index: 2;
				text-align: center;
				background: #fff;
				.media-body {
					h5 {
						font-weight: bold;
					}
					p {
						font-size: 16px;
						color: #7B7B7B;
						font-weight: 600;
						margin: 20px 0 0 0;
					}
				}
			}
		}
	}
	.map-section {
		text-align: center;
		border-radius: 2px;
		margin-top: 0;
		img {
			width: 100%;
		}
	}
}

.product-padding {
	padding-top: 240px;
	padding-bottom: 185px;
}

.section-1 {
	.first-section-social-icons {
		display: flex;
		margin-top: 5px;
		li:nth-child(1) {
			margin-left: 0px;
		}
		li.whitepaper {
			width: auto;
			border-radius: 25px;
			color: #575757;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 14px;
		}
		li.whitepaper span {
			margin-right:10px;
		}
		a:hover li .icon {
			color: #E50913;
			fill: #E50913;
		}
		.icon {
			transition: 0.5s ease-in-out;
		}
		li {
			transition: 0.5s ease-in-out;
			display: flex;
			width: 40px;
			background: #1E1E1E;
			height: 40px;
			padding: 15px;
			border-radius: 50%;
			margin: 0px 15px;
			justify-content: center;
			align-items: center;
		}
	}
}

.bg-product {
	background: url(../assets/section-1.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 100%;
	background-color: #191616;
}

.img-width {
	width: 100%;
}

.validator {
	background: #191616;
}

.sub-section {
	padding-bottom: 100px;
	border-bottom: 1px solid #282828;
	background-color: #191616;
	.row .col-lg-4 {
		box-shadow: 0px -3px 17px 3px rgba(0, 0, 0, 0.06);
		position: relative;
		z-index: 2;
	}
	.row [class*='col-'] {
		background: #2C2C2C;
		transition: 0.2s ease-in-out;
		background-clip: content-box;
		&:hover {
			background: #FFFFFF;
			background-clip: content-box;
			.media-body {
				h5 {
					color: #191616;
				}
				p {
					color: #585858;
					font-weight: 500;
				}
			}
		}
	}
	.services-list {
		padding: 40px 30px;
		.media-body {
			h5 {
				color: #FFFFFF;
			}
			p {
				color: #9D9D9D;
				font-weight: 500;
			}
		}
	}
}

.validators-section {
	padding: 100px 0px;
	border: 1px solid #282828;
	background-color: #191616;
	h3 {
		padding-bottom: 50px;
		color: #DADADA;
		font-weight: bold;
		text-align: center;
	}
	p {
		color: #E9E9E9;
		padding-top: 50px;
		margin-bottom:0;
		font-weight: bold;
		text-align: center;
		line-height: 1.8;
		font-size: 22px
	}
	p.second-p {
		padding-top: 0px;
	}
}

.team-section {
	padding: 100px 0px 0 0;
	.container {
		padding: 100px 0;
	}
	background-color: #191616;
	h3 {
		color: #DADADA;
		font-weight: bold;
		text-align: center;
	}
	.profile-name {
		color: #F5F5F5;
		font-size: 18px;
		margin-bottom: 10px;
		font-weight: bold;
		span {
			letter-spacing: 6px;
		}
	}
	.designation-name {
		color: #EFE7E7;
		font-weight: 500;
		margin-bottom: 10px;
	}
	.company-name {
		color: #737373;
		font-size: 16px;
		font-weight: 500;
		a {
			color: #737373;
		}
	}
	.proileContainer {
		display: flex;
		justify-content: center;
		.profile-picture {
			img {
				mix-blend-mode: luminosity;
			}
			.social-icons {
				text-align: center;
				margin: 15px;
				a {
					padding: 0px 5px;
				}
			}
		}
		.profile-picture img {
			mix-blend-mode: luminosity;
		}
	}
	.profile-row-2 {
		padding-top: 100px;
		.profile-picture {
			img {
				mix-blend-mode: luminosity;
			}
		}
		.profile-details {
			padding-top: 30px;
			.social-icons {
				text-align: center;
				margin: 15px;
				a {
					padding: 0px 5px;
				}
			}
			p {
				margin-bottom: 5px;
			}
		}
	}
}

.margin-l-40 {
	margin-left: 40px;
}

.contact-section.home-contact {
	.row {
		padding: 16px 0px;
		div {
			padding: 0;
		}
	}
}

.contact-section {
	.row {
		padding: 80px 0px;
	}
	p {
		color: #191616;
		font-weight: bold;
		font-size: 34px;
	}
	.form-container form {
		display: flex;
		.msg-alert {
			position: absolute;
			bottom: -20px;
			p {
				font-size: 14px;
				color: #191616!important;
			}
		}
		input {
			background: #E9E9E9;
			color: #585858;
			height: 42px;
			border-radius: 0;
			width: 100%;
			margin-right: 5px;
			padding: 0 20px;
			border: 0;
		}
		input.home-input {
			background: #2C2C2C;
			border: 1px solid #444444;
			color: #fff;
		}
		button {
			background-color: #191616;
			border-radius: 0;
			padding: 9px 20px 5px 20px;
			color: #fff;
			font-weight: 600;
			border: 0;
		}
	}
}

.slider-title2 {
	margin-top: 83px;
	div {
		p {
			text-align: left;
			line-height: 1.8;
			font-size: 18px;
			font-weight: 500;
			color: #D4D4D4;
		}
	}
}
// Roadmap section css
.roadmap-section {
	.main_div_table {
		padding: 20px 15px;
	}
	.table-roadmap > div {
		width: 100%;
	}
	padding: 140px 0 0;
	background: #191616;
	.roadmap-head {
		color: #DADADA;
		font-weight: bold;
	}
	.table {
		background: #2C2C2C;
		margin-top: 25px;
		color: #fff;
		width: 100%;
		margin-bottom: 100px;
		tbody {
			.underline {
				color: #fff;
				text-decoration: underline;
				a:hover {
					color:#fff;
				}
			}
			tr {
				td:nth-child(1){
					width:20%;
				}
				td:nth-child(2){
					width:55%;

				}
				td:nth-child(3){
					width:25%;
					
				}
			}
			.align-right-text {
				padding-right: 45px;
			}
			tr:last-child td {
				border-bottom:0px solid #3E3E3E;
			}
			td {
				border-bottom:1px solid #3E3E3E;
				border-top: 0px solid #dee2e6;
				vertical-align: middle;
				padding: 25px 10px;
				font-size: 14px;
				position: relative;
				.red {
					background: #E50913;
				}
				.blue {
					background: #053C75;
				}
				.dark {
					background: rgba(54, 54, 54, 0.96);
				}
				.icon.icon-tick {
					width: 17px;
				}
				p {
					margin-bottom: 0;
					margin-left: 30px;
				}
				p a {
					
					text-decoration: underline;
				}
				p:first-child a > span {
					padding: 2px 10px;
					font-size: 12px;
					font-weight: bold;
					position: absolute;
    				left: 5px;
					
				}
				p:first-child span {
					padding: 2px 10px;
					font-size: 12px;
					font-weight: bold;
					position: absolute;
    				left: 5px;
					
				}
				
			}
			td.align-right-text span {
				float: right;
				padding: 5px 10px;
				font-size: 13px;
				font-weight: 700;
				margin: 0 5px;
			}
			td.right-border{
				border-right:1px solid #3E3E3E;
				color: #7B7B7B;
				font-weight: bold;
				padding: 25px 80px;
			}
			tr {
				border:0;
			}
		}
	}
}
// Footer section css
.footer {
	.resources {
		color: #191616;
		margin-top: 30px;
	}
	border-top: 1px solid #E2E2E2;
	padding: 80px 0 0 0;
	.footer-list li a {
		font-weight: 500;
		font-size: 14px;
		color: #191616;
	}
	.footer-list li {
		margin: 10px 0;
		a span.mdi {
			color: #A9A9A9;
			font-size: 20px;
			img {
				width: 17px;
			}
		}
	}
	h6 {
		font-weight: bold;
	}
	.copy-rights {
		padding: 60px 0;
		color: #585858;
		font-size: 14px;
		font-weight: 600;
	}
	.footer-buttons {
		.button-explorer {
			border: 1px solid #444444;
			padding: 10px 20px;
			box-sizing: border-box;
			width: 100px;
			font-weight: 600;
			color: #191616;
			&:hover {
				text-decoration: none;
			}
		}
		.button-app {
			border: 1px solid #E50913;
			background: #E50913;
			font-weight: 600;
			margin-left: 20px;
			padding: 10px 30px;
			width: 100px;
			color: #F9F9F9;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.part2,
	.part3,
	.part4 {
		p {
			&:first-child {
				font-weight: bold;
				color: #585858;
			}
			a {
				text-decoration: none;
				color: #585858;
			}
		}
	}
	.footer-bottom {
		padding: 70px 0 40px 0;
		display: flex;
		justify-content: space-between;
		.info {
			a {
				color: #585858;
				font-weight: 600;
			}
		}
		.social-icons {
			a {
				margin-right: 10px;
			}
			.medium-icon img {
				width: 20px;
				height: 20px;
			}
		}
	}
}

.app-body {
	background: #E5E5E5;
	height: 100vh;
	.navbar-custom {
		background: #FFFFFF;
		box-shadow: 0 10px 33px rgba(0, 0, 0, .5);
	}
	.navbar-custom .navbar-nav li a:hover {
		color: #414141;
		font-weight: 500;
	}
	.tabSection {
		padding-top: 100px;
		.col-lg-4 {
			background-color: #FFFFFF;
			padding: 0;
		}
		.wallet-container {
			padding-bottom: 20px;
			.title-section {
				padding: 15px 25px;
				color: #414141;
				font-weight: bold;
				img {
					margin-right: 15px;
				}
				p {
					margin: 0;
				}
			}
			.wallet-balance {
				padding: 15px 30px;
				display: flex;
				background: #F7F7F7;
				align-items: center;
				justify-content: space-between;
				p {
					margin: 0;
					color: #E50913;
					font-weight: bold;
					font-size: 22px;
				}
				.form-group {
					label {
						display: none;
					}
					.form-control {
						background: #F9F9F9;
						padding: .475rem .75rem;
						height: 45px;
						font-weight: 500;
						&:focus {
							outline: none;
							box-shadow: none;
							border-color: 0;
						}
					}
				}
			}
			.wallet-deeds {
				margin: 15px 25px;
				background: #F7F7F7;
				padding: 15px;
				display: flex;
				justify-content: space-between;
				p {
					margin: 0;
					img {
						margin-right: 15px;
					}
				}
			}
			.wallet-invoice {
				background: #F7F7F7;
				margin: 15px 25px;
				padding: 15px;
				display: flex;
				justify-content: space-between;
				p {
					margin: 0;
					img {
						margin-right: 15px;
					}
				}
			}
			.wallet-obl {
				margin: 15px 25px;
				background: #F7F7F7;
				padding: 15px;
				display: flex;
				justify-content: space-between;
				p {
					margin: 0;
					img {
						margin-right: 15px;
					}
				}
			}
		}
		.tabs-container {
			background-color: #ffffff;
			.tab-content {
				form {
					padding: 80px 0;
					width: 255px;
					margin: auto;
					label {
						color: #414141;
						font-weight: 500;
					}
					.form-control {
						background: #F9F9F9;
						border: 0;
						color: #636363;
						padding: .475rem .75rem;
						height: 45px;
						font-weight: 500;
						&:focus {
							outline: none;
							box-shadow: none;
							border-color: 0;
						}
					}
					button {
						background: #FFFFFF;
						border: 1px solid #E50913;
						box-sizing: border-box;
						border-radius: 58px;
						width: 100%;
						color: #E50913;
						font-weight: bold;
						margin-top: 20px;
					}
				}
			}
			.exchange-container {
				form {
					position: relative;
					.icon {
						position: absolute;
						top: 210px;
						left: -25px;
						width: 56px;
						height: 56px;
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 50%;
						background: #FFFFFF;
						box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.08);
					}
					.paying-section {
						background: #F6F6F6;
					}
					.receive-section {
						background: #FFFFFF;
						border: 1px solid #EFE7E7;
						box-sizing: border-box
					}
					.paying-section,
					.receive-section {
						display: flex;
						padding: 30px;
						.form-group {
							&:first-child {
								flex: 40%;
								margin-right: 10px;
								label {
									color: #414141;
									font-size: 14px;
								}
							}
							&:last-child {
								flex: 60%;
								label {
									visibility: hidden;
								}
								input {
									color: #414141;
									font-weight: 600;
									font-size: 20px;
									background: #FFFFFF;
									box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1);
								}
							}
						}
					}
				}
			}
			.lending-container {
				padding: 50px 30px;
				.listCard {
					display: flex;
					align-items: center;
					justify-content: space-between;
					background: #FFFFFF;
					border: 1px solid #F5F5F5;
					box-sizing: border-box;
					padding: 20px;
					margin-bottom: 10px;
					p {
						margin: 0;
						font-size: 16px;
						font-weight: 600;
						color: #414141;
						&:first-child {
							color: #E50913;
						}
						&:last-child {
							color: #414141;
						}
					}
				}
			}
			.nav-tabs .nav-link {
				color: #414141;
				font-weight: bold;
				padding: 15px 30px;
				&:focus {
					outline: 0;
				}
				&:hover {
					border-color: transparent;
				}
			}
			.nav-tabs .nav-item.show .nav-link,
			.nav-tabs .nav-link.active {
				color: #E50913;
				font-weight: bold;
				border-bottom: 3px solid #E50913;
				border-color: #fff #fff #E50913;
				outline: 0;
			}
		}
	}
}

.quote-section {
	padding: 180px 0 0 0;
	background: #191616;
	.quote-box {
		position: relative;
		background: #2C2C2C;
		padding: 58px 70px;
		p {
			font-weight: 500;
			color: #D4D4D4;
			text-align: center;
			line-height: 1.8;
		}
		.quote-intial {
			position: absolute;
			top: -25px;
			left: -20px;
		}
		.quote-final {
			position: absolute;
			bottom: -15px;
			right: -5px;
		}
	}
}

.developer-text {
	padding: 100px 150px 0;
	p {
		color: #D4D4D4;
		font-weight: 500;
		text-align: center;
		line-height: 1.8;
	}
}

.developer-section {
	background-color: #191616;
	padding-bottom: 100px;
	border-bottom: 1px solid;
	.developers-container {
		justify-content: space-between;
		.info {
			padding-top: 15px;
			text-align: center;
			.title {
				color: #F5F5F5;
				font-weight: bold
			}
			p {
				font-weight: 500;
				margin-bottom: 10px;
				color: #737373;
			}
		}
		.other-team {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 138px;
			height: 138px;
			background: #515151;
			border-radius: 50%;
			p {
				color: #FFFFFF;
				font-weight: bold;
				margin: 0;
			}
		}
		.picture {
			text-align: center;
		}
	}
}

.adviser-section {
	background-color: #191616;
	padding: 100px 0;
	h3 {
		color: #DADADA;
		padding-bottom: 50px;
		text-align: center;
		font-weight: bold;
	}
	.adviser-text {
		color: #D4D4D4;
		font-weight: 500;
		margin: auto;
		text-align: center;
		padding: 0 205px 100px 205px;
		line-height: 1.8;
		p {
			font-size: 18px;
		}
	}
	.proileContainer {
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
		.profile-name {
			color: #F5F5F5;
			margin-bottom: 10px;
			font-size: 18px;
			font-weight: bold;
		}
		.designation-name {
			color: #EFE7E7;
			margin-bottom: 10px;
			font-weight: 500;
		}
		.company-name {
			color: #737373;
			font-size: 16px;
			font-weight: 500;
		}
		.profile-picture {
			img {
				mix-blend-mode: luminosity;
			}
			.social-icons {
				text-align: center;
				margin: 15px;
				a {
					padding: 0px 5px;
				}
			}
		}
	}
}

.p-10 {
	padding: 10px;
}

@media (max-width:1199px) {
	.sub-section .services-list {
		padding: 35px 20px;
	}
	.developer-section .developers-container {
		justify-content: center;
	}
	.profile {
		padding: 25px;
	}
	.roadmap-section .table {
		background: #2C2C2C;
		margin-top: 25px;
		color: #fff;
		width: 980px;
	}
}

@media (max-width:991px) {
	
	.app-container {
		display: flex;
		justify-content: space-between;
	}
	.contact-section .form-container form .msg-alert {
		position: absolute;
		bottom: -45px
	}
	.section-1 .first-section-social-icons li {
		margin: 0 5px;
	}
	.footer {
		text-align: center;
	}
	.mob-text-align {
		justify-content: center;
	}
	.sub-section .services-list {
		padding: 25px 25px;
	}
	.sub-service-icons {
		width: 20px;
	}
	.slider-title {
		.carousel-caption {
			p {
				margin-bottom: 0;
			}
		}
	}
	.slider-title2 {
		margin-top: 0;
		.carousel-caption {
			padding-top: 0;
		}
	}
	.text-white.mobile-head {
		text-align: center;
	}
	.section-slider h3 {
		padding-bottom: 0;
	}
	.section-slider {
		padding: 35px 0 200px 0;
	}
	.quote-section {
		padding: 110px 0 0 0;
		.quote-box {
			padding: 5px 20px;
			.quote-intial {
				position: absolute;
				top: -15px;
				left: -12px;
				width: 15px;
				img {
					width: 30px;
				}
			}
			.quote-final {
				position: absolute;
				bottom: -15px;
				right: -13px;
				img {
					width: 30px;
				}
			}
		}
	}
	.adviser-section {
		padding: 50px 0;
		h3 {
			padding-bottom: 30px;
		}
	}
	.profile-picture .profile-xs {
		margin-bottom: 20px;
	}
	.section-products .section-subtitle {
		margin-bottom: 30px;
	}
	.profile-1 {
		.row {
			margin: 0;
		}
	}
	.other-team {
		margin: auto;
	}
	.adviser-section .proileContainer {
		display: block;
	}
	.profile {
		margin: auto;
		padding: 25px;
	}
	.developer-section {
		padding-top: 75px;
	}
	.developer-text {
		padding: 0px 10px 0;
	}
	.developer-text p {
		margin-bottom: 0;
	}
	.margin-l-40.margin-left-xs {
		margin-left: 0;
		padding: 0 15px;
	}
	.team-section .container {
		padding: 0px 0;
	}
	.persistence {
		.navbar {
			.navbar-collapse {
				justify-content: flex-start;
				.navbar-nav {
					margin: 0;
				}
			}
		}
		.bg-product {
			background-image: none;
		}
		.team-section .proileContainer {
			display: flex;
			flex-direction: column;
			text-align: center;
			align-items: center;
			margin-bottom: 70px;
		}
		.sub-section .row [class*='col-'] {
			margin-bottom: 15px;
		}
		.product-padding {
			padding: 130px 0 100px 0;
		}
		.carousel-item {
			.d-none {
				display: block!important;
			}
		}
		.app-body .tabSection .col-lg-4 {
			margin: 15px;
		}
		.section-products .comdex-section .comdex-button {
			display: block;
			text-align: center;
		}
		.contact-section p {
			font-size: 24px;
			text-align: center;
		}
		.section-products h3 {
			padding-bottom: 30px;
		}
		.align-center.comdex-section {
			text-align: center;
		}
		.section-slider .carousel-caption {
			position: relative;
		}
		.navbar-expand-lg>.container {
			padding: 0px 15px;
		}
		.section-1 .title {
			font-size: 1.5rem;
			line-height: 1.5;
		}
		.header-buttons {
			margin: 10px 0 25px 0;
		}
		.team-section .profile-row-2 .col-lg-4 {
			flex: auto;
		}
		.team-section .profile-name span {
			display: none;
		}
		.team-section .proileContainer:first-child .designation-name,
		.team-section .proileContainer:first-child .company-name,
		.team-section .proileContainer:last-child .designation-name,
		.team-section .proileContainer:last-child .company-name {
			margin: auto;
		}
		.proileContainer div {
			text-align: center !important;
		}
		.adviser-section {
			.adviser-text {
				padding: 0;
				margin-bottom: 60px;
			}
		}
		.team-section .proileContainer .designation-name.name-xs {
			margin-bottom: 10px;
		}
		.adviser-section .proileContainer .profile-name {
			margin-top: 10px;
		}
	}
	.navbar-custom .navbar-nav.app-nav {
		margin-left: 0;
	}
	.navbar-custom .navbar-brand.app-logo {
		margin: 0;
	}
	.app-container {
		display: flex;
		justify-content: space-evenly;
	}
	.navbar-custom .navbar-brand img.app-logo {
		height: 25px;
		margin-top: -10px;
	}
	.line{
		display: none;
	}
	.section-1 .first-section-social-icons li.whitepaper {
		display: none;
	} 
}
@media (min-width: 991px) and (max-width: 1199px) {
	.navbar-custom .navbar-nav li a {
		font-size: 12px;
	}
	.navbar-custom .navbar-brand img {
		height: auto;
		width: 135px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.dark-logo {
		width: 100px;
	}
	.persistence .section-1 .title {
		font-size: 2rem;
	}
	.form-md {
		display: flex;
		justify-content: center;
	}
	.footer {
		text-align: left;
	}
}