---
name: Release

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm ci install
      - name: Build react project
        run: npm run build --if-present
        env:
          REACT_APP_MAIL_CHIMP_URL: ${{ secrets.MAILCHIMP }}
          REACT_APP_API_KEY: ${{ secrets.STAG_API_KEY }}
          REACT_APP_KAVA_API_KEY: ${{ secrets.KAVA_STAKEDROP_STATUS }}
          REACT_APP_GA_ID: "G-WC57VYC5DW"
          REACT_APP_TERRA_API_KEY: ${{ secrets.TERRA_STAKEDROP_STATUS }}
          REACT_APP_MATIC_API_KEY: ${{ secrets.MATIC_STATUS_API }}
          REACT_APP_EXPLORER_URL: ${{ secrets.CORE_EXPLORER }}
          REACT_APP_BLOCK_EXPLORER_URL: ${{ secrets.CRUST_EXPLORER }}
      - name: Publish
        uses: cloudflare/wrangler-action@1.3.0
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          environment: 'release'
